<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.host %>/css/index.css">
</head>
<body>
    <h1><%= htmlWebpackPlugin.options.title %></h1>
    <p class="name">我是大神，哈哈</p>
</body>
</html>