.hna-toast{
    position: fixed;
    left:50%;
    bottom: 65px;
    max-width: 90%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.hna-toast .toast-content{
     color: #fff;
     font-size:14px;
     line-height:1.5;
     padding: 5px 15px;
 }
